<style>
    body {
        background-color: lightgray;
    }

    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
        padding: 5px;
        margin: 10px;
}
</style>
<script>


</script>
<h1>Workout</h1>
<form action="/added" method="post">
    <fieldset style="width: 50%">
    <label for="name">Exercise:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="reps">Reps:</label><br>
    <input type="number" id="reps" name="reps"><br>
    <label for="weight">Weight:</label><br>
    <input type="number" id="weight" name="weight"><br>
    <label for="date">Date:</label><br>
    <input type="date" id="date" name="date"><br>
    <label for="lbs">Lbs?</label><br>
    <input type="checkbox" id="lbs" name="lbs"><br>
    <input type="submit" value="Add Exercise" id="addExercise">
    </fieldset>
</form>
<table style="width:50%">
    <tr>
        <th>Name</th>
        <th>Reps</th>
        <th>Weight</th>
        <th>Date</th>
        <th>Lbs?</th>
    </tr>
    {{#each results}}
    <tr style="text-align: center">
        <td>{{this.name}}</td>
        <td>{{this.reps}}</td>
        <td>{{this.weight}}</td>
        <td>{{this.date}}</td>
        <td>{{this.lbs}}</td>
        <td><input type="button" value="Edit"></td>
        <td><input type="button" value="Delete"></td>
    </tr>
    {{/each}}
</table>